* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
	--primary-color: white;
	--text-color: #727171;
}
html {
	font-size: 10px;
}
body {
	font-family: Inter, sans-serif;
	background-color: rgb(24, 22, 38);
	color: white;
}

/* common styles */
img {
	width: 100%;
}
a {
	text-decoration: none;
	color: white;
}
.description {
	margin-top: 1rem;
	font-size: 1.5rem;
	font-weight: 400;
	color: var(--text-color);
}
.title {
	color: var(--primary-color);
	font-weight: 700;
	font-size: 2rem;
	text-transform: uppercase;
}
.item_preTitle {
	font-size: 1.4rem;
	color: var(--text-color);
	font-weight: 300;
}
.item_title {
	font-size: 1.6rem;
	color: white;
	font-weight: 500;
	margin: 0.8rem 0;
}
.item_subtitle {
	font-size: 1.4rem;
	color: var(--text-color);
	font-weight: 400;
}

/* layouts */
.container {
	max-width: 1000px;
	width: 90%;
	margin: 0 auto;
	display: grid;
	padding: 5rem;
	background: rgb(24, 22, 38);
	grid-template-columns: 1fr 1fr;
	gap: 4rem;
}
@media only screen and (max-width: 768px) {
	.container {
		width: 100%;
		grid-template-columns: 1fr;
		padding: 3rem;
		gap: 7rem;
	}
}

.profile {
	grid-column: 1 / -1;
	margin-bottom: 2rem;
}
.group-1,
.group-2 {
	display: flex;
	flex-direction: column;
	gap: 5rem;
}

/* profile */
.profile_container {
	display: flex;
	gap: 2rem;
}
.profile_profileImg {
	max-width: 250px;
}
.profile_name_fullName {
	color: white;
	font-weight: 900;
	font-size: clamp(2rem, 8vw, 4rem);
	text-transform: uppercase;
	display: block;
	margin-bottom: -0.8rem;
}

.profile_title {
	font-size: 1.5rem;
	font-weight: 400;
	text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
	.profile_container {
		flex-direction: column;
	}
}

/* eduction */
.edu_list {
	margin-top: 2rem;
}

/* certification */
.certificationitem {
	margin-top: 2rem;
}
/* exp */
.exp_item {
	margin-top: 2rem;
}

/* Skills */
.skills__container {
  display: grid;
  gap: 4.5rem;
  grid-template-columns: repeat(3,1fr);
	margin-top: -3rem;
	margin-left: -6rem;
	line-height: 2;
}

.skills__container-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills__container-img {
  height: 40px;
  width: 40px;
}

.skills__container-img:hover {
  transform: rotate(20deg);
}

.skills__container-name {
  font-size: var(--smaller-font-size);
  display: block;
  text-align: center;
}

.skills_list {
	margin-top: 1rem;
	margin-left: 2rem;
	line-height: 2;
}

@media only screen and (max-width: 768px) {
	hr {
		margin: 0 auto;
	}
}
